    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background: #f3f2f1;
    }
    
    .main-body {
        margin: 0 auto;
        padding: 0 40px;
        max-width: 950px;
        background: #fff;
        box-shadow: rgba(60, 64, 67, .3) 0 1px 2px 0, rgba(60, 64, 67, .15) 0 1px 3px 1px;
        border-radius: 4px;
        margin-bottom: 50px;
    }
    /* head bar */
    
    .heading-bar {
            height: 48px;
            background-color: #3367b6;
            color: #fff;
            justify-content: center
        }
        
        .head-bar {
            display: flex;
            height: 100%;
            margin: 0 30px;
        }
        
        .head-home {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        
        .home {
            cursor: pointer;
        }
        
        .cs-dk {
            margin: 0 20px;
            cursor: pointer;
        }
        
        .dang-xuat {
            cursor: pointer;
            text-align: end;
            align-self: center;
            width: 100%;
        }
        
        .head-bar a {
            color: #fff;
        }
        
        .head-bar a:hover {
            color: #fff;
        }
    .context {
        font-weight: bold;
    }
    
    .tieu-de {
        text-align: center;
        padding-top: 30px;
    }
    
    .ten-don {
        text-align: center;
    }
    
    .header {
        margin: 40px 0 50px 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif
    }
    
    p {
        margin: 5px 0;
    }
    
    .container-tab {
        margin: 10px 0;
    }
    
    .form-tab {
        height: 160px;
    }
    
    ul {
        margin: 5px 0;
    }
    
    .ke-ngang {
        position: relative;
        width: 100%;
        margin-bottom: 15px;
    }
    
    li {
        list-style: none;
    }
    /* button gửi tệp */
    
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 300px;
        margin-left: 30px;
    }
    
    .btn-plus {
        border: 0;
        color: #fff;
        background-color: #3367b6;
        padding: 4px 10px;
        font-size: 14px;
        font-weight: bold;
        margin-top: 1px;
    }
    
    .btn {
        border: 0;
        color: #fff;
        background-color: #3367b6;
        padding: 4px 10px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
        z-index: 1;
        position: absolute;
    }
    /* .mb-3 input[type=file] {
        font-size: 15px;
        position: absolute;
        left: -.6%;
        top: 0;
        opacity: 1;
    } */
    
    .mb-3 input[type=file]::after {
        content: "";
        width: 100%;
        height: 100%;
        background: 0;
        position: absolute;
        z-index: 1;
        left: 0;
    }
    
    .mb-3 input[type=file]:hover {
        cursor: pointer;
    }
    /* set kính gửi */
    
    .text-row .place {
        position: absolute;
        transform: translateY(-180%);
        padding-left: 15px;
    }
    
    .form-text:focus~label,
    .form-text:valid~label {
        transform: translateY(-45px);
        font-size: 13px;
        padding-left: 15px;
        color: rgba(29, 161, 242, 1);
    }
    
    .form-text:focus {
        border-color: rgba(29, 161, 242, 1);
    }
    
    .input-field {
        width: 100%;
        color: #000;
    }
    
    .form-text {
        box-sizing: border-box;
        width: 100%;
        display: block;
        height: 50px;
        border: 0;
        padding: 20px 15px 0;
        border-bottom: 2px solid;
    }
    /* footer */
    
    .footer-l {
        width: 50%;
        border-right: 1px solid rgb(133, 133, 133, .5);
    }
    
    .footer-r {
        width: 50%;
    }